<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../public/css/manager.css">
    <style type="text/css">
        a{color:black}
    </style>
    <meta charset="UTF-8">
    <title>查询系统</title>
    <link rel="shortcut icon" href="../public/img/bitbug_favicon.ico">
</head>
<body background="../public/img/天空.jpg">
<div class="top"><table border="0px" bgcolor="white" width="100%" height="10%"cellpadding="0"cellspacing="0"style="background: url(../public/img/天空.jpg)" >
    <tr  colspan="5" >
        <th align="middle"><a style="text-decoration:none"><font style="font-size:40px" face="微软雅黑">成绩查询系统</font></a></th>
        <td><marquee scrollamount="5"><font face="微软雅黑" style="font-size: 20px " color="#7cfc00" >欢迎登陆成绩查询系统！！</font></marquee></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td align="right"><a href="#"style="text-decoration:none"><font   face="微软雅黑"><div ><img src="../public/img/首页.png"width="15px">首页</div></font></a> </td>
        <td align="right"><a href="#"style="text-decoration:none"><font  face="微软雅黑"><div ><img src="../public/img/用户.png"width="20px">姓名</div> </font></a></td>
        <td align="middle"><a href="#"style="text-decoration:none"><font  face="微软雅黑"><div ><img src="../public/img/settings.png"width="20px">修改密码</div></font></a> </td>
    </tr>
</table>
</div>
<iframe id="i_frame" src="../admin/admin.php" name="iframe_a"></iframe>
<div class="left"><p><font style="font-size:16px"  face="微软雅黑">请选择功能&nbsp;&nbsp;↓</font></p><br/>
    <a href="../admin/admin.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">查看学生信息</font></a><br/><br/>
    <a href="../admin/checkTeacherInfo.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">查看老师信息</font></a><br/><br/>
    <a href="../admin/checkCourseInfo.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">查看课程信息</font></a><br/><br/>
    <a href="../admin/recordStudentInfo.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">修改学生信息</font></a><br/><br/>
    <a href="../admin/recordTeacherInfo.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">修改老师信息</font></a><br/><br/>
    <a href="../admin/recordCourseInfo.php" target="iframe_a"><font style="font-size:16px" face="微软雅黑">修改课程信息</font></a><br/><br/></div></div>

</body>
</html>